body {
    font-family: Calibri, sans-serif;
    background-color: #ffffff;
    color: #fff;
}

.header {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 20px; 
}

.logo {
    width: 150px; 
    height: auto;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #fff; 
}

.profile-container {
    width: 50%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 20px;
    background-color: #d32f2f; 
    border: 5px solid #000; 
}

.table {
    width: 20%;
    border-collapse: collapse;
    margin-top: 25px;
}

/*Table formatting */

th, td {
    width: 10%;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #000000;
    color: white;
    font-size: 10px;
}

/*Adding player bar*/
th {
    background-color: black;
    font-size: 14px;
}

td {
    font-size: 14px;
}

.button {
    background-color: #ffffff;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
}

tr:hover {
    background-color: black;
}

.add-player-form {
    margin-bottom: 20px;
}

.add-player-form input {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
}

.add-player-form,
#teamTable {
    margin-top: 20px;
}

.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; /* Space below the button group */
    justify-content: right; 
}

.help-button {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.help-button:hover {
    background-color: #e5e7e9; /* Slightly lighter orange on hover */
}

.nav-button {
    background-color: #333; /* Dark background for buttons */
    color: #fff; /* White text */
    padding: 8px 16px; /* Padding around the text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 14px;
}

.nav-button:hover {
    background-color: #555; /* Darker shade on hover */
}

